body {
  font-family: Verdana;
  width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 30px;
}

#parent {
  padding: 20px;
  background-color: honeydew;
}

#parent > div {
  padding: 10px;
  margin: 5px;
  background-color: lightblue;
  transition: all 500ms ease-in;
}

#parent > div:first-of-type {
  margin-top: 20px;
}

p {
  margin: 0;
}

#buttons {
  display: flex;
  justify-content: center;
}

button,
button:focus,
button:active {
  padding: 10px 20px;
  background-color: #86caf4;
  border: 1px solid #86caf4;
  border-radius: 1px;
  margin: 10px 20px;
  color: white;
  font-weight: bold;
  width: 140px;
  outline: none;
  transition: all 300ms;
}

button:hover {
  background-color: white;
  color: #86caf4;
  cursor: pointer;
  transition: all 300ms;
}
