// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: Verdana;
}

table {
  th, td {
    padding: 10px 20px;
  }

  tbody tr {
    &:nth-of-type(2n+1) {
      background: lightgray;
    }
    &:first-of-type,
    &:last-of-type {
      background: lightgreen;
      text-align: center;
      a {
        color: white;
      }
      &:hover {
        background: darken(lightgreen, 20);
        cursor: pointer;
      }
    }
    &:last-of-type {
      background: orange;
      &:hover {
        background: darken(orange, 5);
      }
    }
  }
}

a,
a:visited,
a:active {
  color: gray;

  &:hover {
    color: darken(gray, 20);
  }
}
