<h2>Neues Produkt erstellen</h2>
<form>
  <input type="text" name="name" placeholder="Produktname">
  <br />
  <input type="text" name="product_number" placeholder="Produktnummer">
  <br />
  <input type="number" step="0.01" name="price" placeholder="Preis">
  <br /><br />
  <button type="submit">Erstellen</button>
</form>
<br/>
<%=link_to "Zurück zur Produktübersicht", products_show_path %>
