<% if (params.has_key? :product_id) %>
<h1>Produkt wurde entfernt</h1>
<% else %>
<h1>Alle Produkte wurden gelöscht</h1>
<% end %>
<br />
<%=link_to "Zurück zur Produktübersicht", products_show_path %>
