<h2>Produkt bearbeiten</h2>
<form>
  <input type="hidden" name="product_id" value="<%=@product.id%>"/>
  <input type="text" name="name" placeholder="Produktname" value="<%=@product.name%>">
  <br />
  <input type="text" name="product_number" placeholder="Produktnummer" value="<%=@product.product_number%>">
  <br />
  <input type="number" step="0.01" name="price" placeholder="Preis" value="<%=@product.price%>">
  <br /><br />
  <button type="submit" name="modify" value="modify">Speichern</button>
</form>
<br/>
<%=link_to "Zurück zur Produktübersicht", products_show_path %>
