<h2>Produktübersicht</h2>
<table>
  <thead>
    <tr>
      <th>Produktname</th>
      <th>Preis</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan=3><%=link_to "Neues Produkt erstellen", products_create_path %></td>
    </tr>
    <% Product.all.each do |product| %>
    <tr>
      <td><%=product.name%></td>
      <td><%=product.price%>€</td>
      <td><%=link_to "mehr infos", products_show_detail_path({:product_id=>product.id}) %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan=3><%=link_to "Alle Produkte löschen", products_delete_path %></td>
    </tr>
  </tbody>
</table>
