<h2>Detailansicht</h2>
<h3><%=@product.name%></h3>
<ul>
  <li>Produktid: <%=@product.id%></li>
  <li>Produktnummer: <%=@product.product_number%></li>
  <li>Preis: <%=@product.price%></li>
  <li><%=link_to "Bearbeiten", products_modify_path({:product_id=>@product.id}) %></li>
  <li><%=link_to "Löschen", products_delete_path({:product_id=>@product.id}) %></li>
</ul>
<a href="./show">Zurück zur Produktübersicht</a>
